:root {
    --sidebar-gray: #A4A6B3;
    --grayscale-gray: 159, 162, 180;
    --grayscale-black: #252733;
  }

/* This applies from 0px to 600px */
*{
    text-decoration: none;
    list-style: none;
}
body {
  display: block;
}
main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
    background: #F7F8FC;
}

.sidebar{
    width: 255px;
    height: 100vh;
    background: #363740;
}

.sidebar li{
    line-height: 56px;
}


.nav-pils{
    color: var(--sidebar-gray);
}

.nav-pills .nav-link {
    border-radius: 0;
}

.nav-pills .nav-link.active{
    background: rgba(var(--grayscale-gray), .08);
    border-left: 3px #DDE2FF solid;
}

.text-white{
    color: var(--sidebar-gray) !important;
}

hr{
    color: #DFE0EB;
    opacity: 0.06;
}

/* overview */
.navbar .navbar-brand, .navbar li{
 color: var(--grayscale-black);
}

/* This applies from 768px onwards */
@media (min-width: 768px) {
  body {
  }
}